.nav-list{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
#header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#pricing{
    display: flex;
    justify-content: space-around;
}


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  #features{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }


  #works{
    display: flex;
    justify-content: center;
}